body{
	font-family: Arial;
	font-size: 18px;
}
h1{
	text-align: center;
	margin: 20px 0;
}
h2{
	text-align: center;
	margin:  40px 0 20px 0;
	font-size: 24px;
}
.columnaPlatos{
	padding-left: 20px;
	height: 300px;
	overflow-y: auto; 
}
.seccionCalendario{

}
.plato{
	border: solid 1px;
	margin: 10px 0 10px 0;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	width: 150px;
}
.plato:hover{
	cursor:pointer;
}
.platoClicado{
	background: #33E0FF;
}
.cajaDia{
	width: 14%;
	border: solid 1px;
	text-align: center;
	height: 150px;
	float: left;
	margin: 0 1px;
}
.diaSemana{
	border-bottom: solid 1px;
	padding: 5px;
}
.comida{
	height: 60px;
	border-bottom: 0.5px dotted;
}
.cena{
	height: 55px;
}
.cajaDia span{
	font-size: 10px;
}
#semana{
	height: 200px;
}	
.boton-desplegable {
	background-color: lightgray;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.flecha {
	font-size: 15px;
	margin-left: 5px;
}
.oculto{
	display: none !important;
}
.listaDeLaCompra{
	background-color: rgb(255, 255,204);
}

  
.listaDeLaCompra h2{
	padding-top: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.listaDeLaCompra ul{
	padding:0 0 20px 0;
}
.listaDeLaCompra li{
	margin-left: 2rem;
	border-bottom: solid 0.25px #B4E1F5;
	list-style: none;
    margin-bottom: 0.25rem;
}
#cajaListaCompra{
	border: 1px solid #ccc;
    border-top: none;
}
.seccionBotones{
	text-align: center;
    margin-top: 40px;
}

.botonesAcciones {
	width: 150px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .botonesAcciones:hover {
	background-color: #2980b9;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
  }
  .botonesAcciones:active {
	background-color: #20729f;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transform: translateY(1px);
  }
  .botones{
	margin:10px 0;	
  }
  .cajaBotones{
	border: solid 0.25px;
    height: 50px;
    width: 200px;
    font-size: 12px;
    margin-top: 7px;
    padding-top: 13px;
  }
  
  
  .aEliminar{
	background-color: red;
	color:white;
  }
  .error{
	color: red;
  }